@media only screen and (min-width: 480px) {
	.tittle-w{
		margin-top: 12%;
		margin-bottom: 55%;
		width: 100%;
	}
	.marry-img:before{
		content: url(../img/onknee-small.jpg);
	}
}
@media only screen and (min-width: 768px) {
	.tittle-w{
		margin: 10% 0 55% 0;
		width: 100%;
	}
	.marry-img:before{
		content: url(../img/onknee-medium.jpg);
	}
	.nav-zoom{
		transform: scale(0.8);
	}
}

@media only screen and (min-width: 1024px) {
	.tittle-w{
		margin: 8% 0 55% 0;
		width: 100%;
	}
	.marry-img:before{
		content: url(../img/onknee-large.jpg);
	}
	.nav-zoom{
		transform: scale(1);
	}	
}
.tittle span{
	font-size: 2.5rem;
}
.tittle p{
	font-size: 1.5rem;
}
.figure h1{
	font-size: 1.5rem;
}
.figure p{
	font-size: 0.5rem;
}
.figure h2{
	font-size: 0.8rem;
}
.photo h2{
	font-size: 1.5rem;
}
.photo h3{
	font-size: 0.6rem;
}
.photo p{
	font-size: 0.4rem;
}
.photo a{
	font-size: 0.45rem;
}
.nav a{
	font-size: 0.5rem;
}

	
